<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>profile page</title>
</head>
<body>
<div id="page">
    <div th:replace="/header"></div>
    <h2 class="username" th:text="${#request.getParameter('u')}"></h2>
    <div th:if="${show_follow}">
        <a th:if="${followed == false}" th:href="'/user/follow?uid='+${ru.userId}" th:text="'Follow this user'"
           class="button">
            Follow this user
        </a>
        <a th:if="${followed==true}" th:href="'/user/unfollow?uid='+${ru.userId}" th:text="'Stop following'"
           class="button">Stop following</a>
    </div>
    <div class="post" th:each="p:${posts}">
        <a class="username" th:href="'/profile.html?u=' +${p.userName}" th:text="${p.userName}"></a>
        <p th:text="${p.content}"></p>
        <i th:text="'posted '+ ${p.time}+' ago via web'"></i>
    </div>
    <div th:replace="/footer"></div>
</div>
</body>
</html>